@page "/sudoku"
@rendermode InteractiveAuto

<PageTitle>Sudoku</PageTitle>

<h1>Sudoku</h1>


<p role="status"> In progress... coming soon</p>

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
 *@
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
