@page "/solitaire"
@inject HttpClient Http

<PageTitle>Solitaire</PageTitle>

<h1>Solitaire</h1>

<p role="status">Coming soon... </p>

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    f
    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@