@page "/spidersolitaire"

<PageTitle>Spider Solitaire</PageTitle>

<h1>Spider Solitaire</h1>

<p role="status">Coming soon... </p>

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@